@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);

    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    /* with 75% opacity for lightbox background */
    --black: hsl(0, 0%, 0%);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    max-width: 500px;
    margin: 0 auto;
}

.body {
    padding: 1.5em;
}

button {
    font-family: inherit;
}

img {
    max-width: 100%;
    display: block;
}


.product-img {
    position: relative;
}

.previous {
    position: absolute;
    left: 3%;
    top: 45%;
    display: grid;
    place-items: center;
    height: 40px;
    width: 40px; 
    border-radius: 50%;
    background-color: var(--white);
    cursor: pointer;
}

.next {
    position: absolute;
    right: 3%;
    top: 45%;
    display: grid;
    place-items: center;
    height: 40px;
    width: 40px; 
    border-radius: 50%;
    background-color: var(--white);
    cursor: pointer;
}

.product-thumbnail {
    display: none;
} 

.company {
    font-size: .8125rem;
    font-weight: 700;
    color: var(--orange);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--very-dark-blue);
}

.subtitle {
    color: var(--dark-grayish-blue);
    line-height: 1.5;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex .lower-price {
    font-size: 2rem;
    font-weight: 700;
    color: var(--very-dark-blue);
    display: flex;
    align-items: center;
}

.flex .lower-price .sale {
    font-size: 1rem;
    margin-left: 1em;
    padding: 0.2em 0.3em;
    color: var(--orange);
    border-radius: 5px;
    background-color: var(--pale-orange);
}

.flex .original-price {
    font-weight: 700;
    color: var(--grayish-blue);
}

.box {
    font-weight: 700;
    padding: 0 1.5rem;
    margin-bottom: 1em;
    border-radius: 8px;
    background-color: var(--light-grayish-blue);
}

/***** MEDIA QUERIES *****/

@media (min-width: 1440px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    body {
        max-width: 1000px;
    }
    
    .previous, .next {
        display: none;
    }
    
    .product-thumbnail {
        display: flex;
    } 
}






/* attribution styling */

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
