@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    /* with 75% opacity for lightbox background */
    --black: hsl(0, 0%, 0%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;

    margin: 0 auto;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    
}

.logo {
    cursor: pointer;
}

.items {
    display: none;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#cart:hover{
    color: var(--dark-grayish-blue);
}

#cart:hover, .profile:hover, .item:hover, #button:hover {
    cursor: pointer;
}

#avatar {
    width: 1.56em;
    height: 1.56em;
    margin-left: 1.5em;
}

#avatar:hover{
    border: 3px solid var(--orange);
    border-radius: 50%;
}

#button {
    font-family: inherit;
}

img {
    max-width: 100%;
    display: block;
}

.product-img {
    position: relative;
}

.previous {
    position: absolute;
    left: 3%;
    top: 45%;
    display: grid;
    place-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--white);
    cursor: pointer;
}

.next {
    position: absolute;
    right: 3%;
    top: 45%;
    display: grid;
    place-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--white);
    cursor: pointer;
}

.product-thumbnail {
    display: none;
}

.body {
    padding: 1.5em;
}

.company {
    font-size: .8125rem;
    font-weight: 700;
    color: var(--orange);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--very-dark-blue);
}

.subtitle {
    color: var(--dark-grayish-blue);
    line-height: 1.5;
}

.prices {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lower-price {
    font-size: 2rem;
    font-weight: 700;
    color: var(--very-dark-blue);
    display: flex;
    align-items: center;
}

.sale {
    font-size: 1rem;
    margin-left: 1em;
    padding: 0.2em 0.3em;
    color: var(--orange);
    border-radius: 5px;
    background-color: var(--pale-orange);
}

.original-price {
    font-weight: 700;
    color: var(--grayish-blue);
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    padding: 0 1.5rem;
    margin-bottom: 1em;
    border-radius: 8px;
    background-color: var(--light-grayish-blue);
}

#minus,
#plus {
    cursor: pointer;
}

#minus:hover,
#plus:hover {
    opacity: .6;
}

#button{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 700;
padding: 1em;
color: var(--white);
background-color: var(--orange);
border-radius: 8px;
}

#cartButton{
    padding-right: 1em;
    filter: brightness(5);
}

/***** MEDIA QUERIES *****/

@media only screen and (min-width: 950px) {

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2em 0 2em 0;
        border-bottom: 2px solid var(--grayish-blue);
    }
    
    .logo{
        display: flex;
        flex-direction: row;
    }
    
    .items {
        display: flex;
        flex-direction: row;
        margin-left: 2em;
        font-family: 'Kumbh Sans', sans-serif;
        color: var(--grayish-blue);
        font-weight: 400;
        position: absolute;
        left: 18em;;
    }

    .item{
        margin-left: 1.5em;
        padding-bottom: 2.5em;
        padding-top: 3em;
    }

    .item:hover{
        color: var(--dark-grayish-blue);
        border-bottom: 3.5px solid var(--orange);
    }
    
    .profile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    #avatar {
        width: 3em;
        height: 3em;
        margin-left: 1.5em;
    }
    
    .product{
        display: flex;
        width: 90%;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4em;
    }

    .body{
        padding: 0 0 0 7em;
    }

    body {
        max-width: 80%;
    }

    .title {
        font-size: 2.5rem;
    }

    .product-img img {
        border-radius: 10px;
    }

    .previous,
    .next {
        display: none;
    }

    .product-thumbnail {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
    }

    .product-thumbnail img:hover {
        opacity: .8;
    }

    .selected {
        border: 2px solid var(--orange);
        opacity: .6;
    }

    .product-thumbnail img {
        width: 90px;
    }

    .prices {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 1rem 0;
    }

    .lower-price,
    .original-price {
        margin: 0 0 0.5rem;
    }

    .addToCart{
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .box {
        width: 40%;
    margin-bottom: 0;
    }

    .quantity{
        padding: 0 2em;
    }

    #button{
        width: 60%;
        margin-left: 1.5em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;    
    }
    
}




/* attribution styling */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
